################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/6c034a59-a6df-43c8-acb8-215c7c2fa33d.vsidx
/.vs/Calculator/FileContentIndex/b110c2ce-34d6-49d1-9838-a33493a346ba.vsidx
